<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./templates/header.ejs') %>
    <style>
        .fc-today {
            background-color: gray !important;
        }
    </style>
</head>
<body class="bg-light">
    <%- include('./templates/navbar.ejs') %>
    <h1 class="text-center text-dark mt-4">Dashboard</h1>

    <div class="container border border-dark border-4 rounded p-4">
        <div id="calendar" class="text-dark"></div>
    </div>

    <script type="application/javascript" src="/js/dashboard.js"></script>
</body>
</html>