<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css" />
    <%- include('./templates/header.ejs') %>
</head>

<body>
    <%- include('./templates/navbar.ejs') %>
        <section class="h-75 w-100 showcase text-center px-5 mt-3 mb-5">
            <h1>Online Patient Appointment and Scheduling System</h1>
            <div class="container w-50 button-container">
                <a href="/client/login" class="btn btn-info">LOGIN / REGISTER</a>
            </div>
        </section>

        <section class="text-center w-100 h-75 p-4" id="about">
            <h1 class="mb-4">About Us</h1>
            <div class="container p-1">
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis impedit doloribus
                    obcaecati nemo animi quidem repellat rerum quasi ad atque at, exercitationem saepe. Autem at
                    consequuntur aliquam facilis libero assumenda ullam laudantium asperiores omnis officiis,
                    praesentium atque non aperiam perspiciatis delectus odio, commodi, expedita labore cum deleniti
                    explicabo nisi fugit! Mollitia ab impedit consequatur quaerat praesentium tenetur laboriosam rem in
                    possimus aspernatur cupiditate reprehenderit assumenda rerum, nihil eum omnis voluptatibus suscipit
                    sit ducimus doloribus modi soluta minus nam velit? Quia, rerum accusantium quis magnam incidunt
                    nobis labore ex corporis accusamus amet odio sed molestias vero. Dolor dignissimos accusamus at
                    molestiae?</p>
            </div>
        </section>
</body>

</html>