<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css" />
    <%- include('./templates/header.ejs') %>
</head>

<body>
    <div class="form-container w-50 text-center align-middle text-light border border-light border-5">
        <form class="login-form" method="post" action="/client/login" enctype="application/x-www-form-urlencoded"
            autocomplete="off">
            <h1 class="my-0">LOGIN</h1>
            <div class="form-group w-50 mx-auto">
                <label for="exampleInputEmail1">Username</label>
                <input type="text" class="text-center form-control rounded" id="email" aria-describedby="emailHelp" />
            </div>
            <div class="form-group w-50 mx-auto">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="text-center form-control rounded" name="password" id="exampleInputPassword1" />
            </div>
            <button class="btn login-btn w-50 h-50 mx-auto border border-light text-light border-4">LOGIN</button>
            <div class="h-100 w-100 d-flex justify-content-around align-items-center flex-column flex-md-row">
                <a class="link text-light" id="reset-pwd">RESET PASSWORD</a>
                <a class="link text-light" id="slide">REGISTER<i class="bi bi-caret-right-fill"></i></a>
            </div>
        </form>

        <form class="reg-form py-0" autocomplete="off">
            <h1 class="my-0">REGISTER</h1>
            <div class="d-flex gap-5 px-5">
                <div class="form-group w-100 mx-auto">
                    <label for="exampleInputEmail2">Email</label>
                    <input type="email" class="text-center form-control rounded" id="exampleInputEmail2" aria-describedby="emailHelp" />
                </div>
                <div class="form-group w-100 mx-auto">
                    <label for="exampleInputEmail2">Username</label>
                    <input type="text" class="text-center form-control rounded" id="username" aria-describedby="emailHelp" />
                </div>
            </div>
            <div class="d-flex gap-5 px-5">
                <div class="form-group w-100 mx-auto">
                    <label for="exampleInputPassword2">Password</label>
                    <input type="password" class="text-center form-control rounded" id="exampleInputPassword2" />
                </div>
                <div class="form-group w-100 mx-auto">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" class="text-center form-control rounded" id="confirmPassword" />
                </div>
            </div>
            <button class="btn reg-btn w-50 h-50 mx-auto border border-light text-light border-4 p-0">REGISTER</button>
            <a class="link mx-auto text-light" id="slide"><i class="bi bi-caret-left-fill"></i>LOGIN</a>
        </form>

        <!-- FALLBACK LOADING -->
        <%- include('./templates/loading.ejs') %>
    </div>

    <!-- RESET PASSWORD FORM -->
    <div class="forgot-password w-50 bg-light flex-column justify-content-center align-items-center gap-4 py-3">
        <i class="bi bi-x-square-fill" id="close"></i>
        <h1>Send Reset Link</h1>
        <label for="reset-email-input">Email</label>
        <input type="email" class="form-control w-50 border border-dark border-4" id="reset-email-input" />
        <button class="btn btn-dark" id="btn-send-reset">SEND</button>

        <!-- FALLBACK LOADING -->
        <%- include('./templates/loading.ejs') %>
    </div>

    <!-- TOAST -->
    <%- include("./templates/toast.ejs") %>

        <script type="application/javascript" src="/js/login.js"></script>
</body>

</html>