<style>
    .confirmation-shadow {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.6);
    }
</style>

<div class="confirmation-shadow d-flex justify-content-center align-items-center d-none">
    <div class="w-50 h-50 bg-light d-flex flex-column justify-content-evenly align-items-center rounded border border-dark border-4">
        <h2 class="text-center border-bottom border-top border-dark border-4 py-3">DO YOU WANT TO SAVE THIS INFORMATION?</h2>
        <div class="form-group d-flex gap-3">
            <button id="yes" class="btn btn-success border border-dark border-4">YES</button>
            <button id="no" class="btn btn-danger border border-dark border-4">NO</button>
        </div>
    </div>
</div>