<!-- BOOTSTRAP CSS & ICONS -->
<link href="/css/bootstrap.min.css" rel="stylesheet" />
<link href="/css/mapbox-gl.css" rel="stylesheet" />

<!-- JQUERY & BOOTSTRAP JS -->
<script src="/js/popper.min.js"></script>

<script defer src="/js/bootstrap.bundle.min.js" ></script>

<script src="/js/jquery-3.6.1.min.js"></script>

<script src="/js/moment.min.js"></script>

<script src="/js/jquery-ui.min.js"></script>

<link rel="stylesheet" href="/css/fullcalendar.css"/>

<script src="/js/fullcalendar.min.js"></script>

<link rel="stylesheet" href="/css/icons/font/bootstrap-icons.css">

<!-- FLATPICKR CDN -->
<link rel="stylesheet" href="/css/flatpickr.min.css">
<script src="/js/flatpickr.js"></script>

<!-- SELECT2 CDN -->
<link href="/css/select2.min.css" rel="stylesheet" />
<script src="/js/select2.min.js"></script>

<!-- DIM BG OF ELEMENT CDN -->
<script type="text/javascript"
    src="/js/jquery.dim-background.min.js"></script>

<link rel="icon" href="/favicon.ico">
<link rel="stylesheet" href="/css/header.css" />

<title>Rodis Maternal and Childcare Clinic</title>