<style>
  .my-navbar {
    z-index: 11 !important;
  }

  nav {
    background-color: #00897B !important;
  }
</style>

<nav
  class="my-navbar navbar navbar-expand-lg navbar-dark sticky-top border-bottom border-light border-4 rounded-bottom py-3 px-5">
  <a href="/" class="navbar-brand">
    <div style="width: 40px; height: 40px; overflow: hidden;" class="d-inline-block">
      <img src="/favicon.ico" class="rounded-circle w-100 h-100" style="height: 100%; width: 100%;" />
    </div>
    <a href="/" class="navbar-brand" id="brand">
      <% if(user){ %><%= user.fname.toUpperCase() %><% }else{ %>RMCC<% } %>
    </a>
  </a>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navmenu">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item text-center d-flex flex-column flex-lg-row gap-1 gap-lg-5">
        <% if(user) { %>
          <a class="nav-link text-light" href="/client/dashboard" style="cursor: pointer;">CALENDAR</a>
          <a class="nav-link text-light" href="/client/user" style="cursor: pointer;">PROFILE</a>
          <a class="nav-link text-light" href="/client/appointments" style="cursor: pointer;">APPOINTMENTS</a>
          <a class="nav-link logout text-light" style="cursor: pointer;">LOGOUT</a>
          <% } else { %>
            <a href="#mission" class="nav-link text-light" style="cursor: pointer;">MISSION & VISION</a>
            <a href="#services" class="nav-link text-light" style="cursor: pointer;">SERVICES</a>
            <a href="#about" class="nav-link text-light" style="cursor: pointer;">ABOUT</a>
            <% } %>
      </li>
    </ul>
  </div>
</nav>

<script>
  $(document).ready(function () {

    //LOGOUT ACCOUNT
    $(".logout").click(function (e) {
      $.ajax({
        url: '/client/logout',
        type: 'POST',
        success: (res) => {
          if (!res.operation) return alert("Server error");
          location.href = "/login"
        },
        error: (err) => {
          alert(err)
        }
      })
    })
  })
</script>