<%
  let border = user ? "border-bottom border-light border-4 rounded-bottom" : ""
%>

<nav class="navbar navbar-expand-lg bg-dark navbar-dark <%= border %> py-3">
  <div class="container">

    <a href="/" class="navbar-brand">
      <div style="width: 40px; height: 40px; overflow: hidden;" class="border rounded-circle d-inline-block">
        <img src="/favicon.ico" class="img-fluid w-100 h-100 img-thumbnail" />
      </div>
      <a href="/" class="navbar-brand">OPIS</a>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item text-center d-flex flex-column flex-lg-row gap-1 gap-lg-5">
          <% if(user) { %>
            <a class="nav-link" href="/client/dashboard" style="cursor: pointer;">DASHBOARD</a>
            <a class="nav-link" href="/client/user" style="cursor: pointer;">PROFILE</a>
            <a class="nav-link" href="/client/appointments" style="cursor: pointer;">APPOINTMENTS</a>
            <a class="nav-link logout" style="cursor: pointer;">LOGOUT</a>
            <% } else { %>
              <a href="#about" class="nav-link" style="cursor: pointer;">ABOUT</a>
              <% } %>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>
  //LOGOUT ACCOUNT
  $(".logout").click(function (e) {
        $.ajax({
            url: '/client/logout',
            type: 'POST',
            success: (res) => {
                if (!res.operation) return alert("Server error");
                location.href = "/client/login"
            },
            error: (err) => {
                alert(err)
            }
        })
    })
</script>