<style>
#side_nav {
    width: 0;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 5;
    transition: width .1s linear;
    overflow-x: hidden;
    overflow-y: scroll;
}

#side_nav > * {
    width: 300px;
}

.content {
    min-height: 100vh;
    width: 100%;
}

.header-box .img-span {
    height: 40px;
    width: 40px;
}

.header-box .img-span img {
    width: 100%;
    height: 100%;
}

.header-box label {
    cursor: pointer;
}

hr.h-color {
    background: white;
    height: 5px;
    flex-shrink: 0;
}

.sidebar li a {
    color: white;
}

.sidebar li.active a, .sidebar li a:hover {
    color: black !important;
    background: white;
    border-radius: 8px;
}

#toggleSideBar:checked ~ #side_nav {
    width: 315px;
}

#toggleSideBar:checked ~ .sidebar-shadow {
    display: block;
}

.sidebar-shadow {
    display: none;
    position: fixed;
    z-index: 4;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
}

.main {
    width: 100%;
}

#reports {
    transition: height .1s linear;
    height: 40px;
    overflow: hidden;
}

.submenu {
    height: 180px;
    background-color: black;
}

.arrow {
    transition: transform .1s linear;
}

#reports_submenu:checked ~ #reports {
    height: 225px !important;
    border-radius: 8px;
    border-bottom: white solid 5px;
}

#reports_submenu:checked ~ #reports #reports_toggler {
    color: black !important;
    background: white;
}

#reports_submenu:checked ~ #reports .arrow {
    transform: rotate(-180deg);
}

#reports > div.submenu > a:hover{
    cursor: pointer;
    border-radius: 0;
}

#reports > div.submenu > a.active {
    color: black !important;
    background: white;
}

.reports {
    color: black !important;
    background: white;
    border-radius: 8px;
}

#reports_toggler {
    cursor: pointer;
    transition: transform .1s linear;
    border-radius: 8px;
}

#reports_toggler:hover {
    color: black !important;
    background: white;
    border-radius: 8px;
}

@media screen and (min-width: 768px) {
    #side_nav {
        width: 315px;
    }

    div.main {
        width: calc(100% - 315px);
        margin-left: auto;
    }
}
</style>

<input type="checkbox" id="toggleSideBar" class="d-none" />
<div class="sidebar-shadow d-md-none"></div>
<div class="sidebar position-fixed position-md-sticky bg-dark d-md-flex flex-column align-items-center gap-2" id="side_nav">
    <div class="header-box pt-4">
        <h1 class="fs-4 d-flex align-items-center"><span class="bg-light d-block text-dark rounded-circle shadow mx-3 img-span"><img class="d-block" src="/favicon.ico"/></span><span class="text-light">RMCC</span><label for="toggleSideBar" class="ms-auto me-3 d-block d-md-none"><i class="bi bi-x-circle-fill text-light p-cursor"></i></label></h1>
    </div>
    <hr class="h-color m-0 mb-3">
    <ul class="list-unstyled px-2">
        <li id="dashboard" class="py-2"><a class="text-decoration-none px-3 py-2 d-flex gap-2" href="/admin/dashboard"><i class="bi bi-house-fill"></i>Dashboard</a></li>
        <li id="scheduled" class="py-2"><a class="text-decoration-none px-3 py-2 d-flex gap-2" href="/admin/scheduled"><i class="bi bi-clock-fill d-flex align-items-center"></i>Scheduled Patients</a></li>
        <li id="appointments" class="py-2"><a class="text-decoration-none px-3 py-2 d-flex gap-2" href="/admin/appointments"><i class="bi bi-calendar-check-fill d-flex align-items-center"></i>Online Appointments</a></li>
        <input type="checkbox" id="reports_submenu" class="d-none"/>
        <li id="reports" class="my-2 text-light">
            <label for="reports_submenu" class="text-decoration-none px-3 py-2 d-flex gap-2" id="reports_toggler"><i class="bi bi-folder-fill d-flex align-items-center"></i>Reports<i class="bi bi-caret-down-fill ms-auto arrow"></i></label>
            <div class="submenu d-flex flex-column gap-3 pt-3 pb-3 text-center">
                <a class="text-decoration-none reports_masterlist w-100 py-2" href="/reports/reports_masterlist">Patient Masterlist</a>
                <a class="text-decoration-none reports_accommodated w-100 py-2" href="/reports/reports_accommodated">Accommodated Patients</a>
                <a class="text-decoration-none reports_scheduled w-100 py-2" href="/reports/reports_scheduled">Scheduled Patients</a>
            </div>
        </li>
        <li id="patients" class="py-2"><a class="text-decoration-none px-3 py-2 d-flex gap-2" href="/admin/patients"><i class="bi bi-clipboard2-pulse-fill d-flex align-items-center"></i>Patients</a></li>
        <% if(admin.specialty=="admin" ) { %>
            <li id="accounts" class="py-2"><a class="text-decoration-none px-3 py-2 d-flex gap-2" href="/admin/accounts"><i class="bi bi-person-circle d-flex align-items-center"></i>Doctors</a></li>
            <li id="staffs" class="py-2"><a class="text-decoration-none px-3 py-2 d-flex gap-2" href="/admin/staffs"><i class="bi bi-people-fill"></i>Staff</a></li>
        <% } %>
    </ul>
    <hr class="h-color mt-0">
    <div class="d-flex justify-content-center mb-3">
        <button class="btn btn-danger w-75" id="logout">LOGOUT</button>
    </div>
</div>

<script>
    $(document).ready(function (e) {
        window.history.forward()

        let urlAddress = window.location.pathname.split('/')
        let currentPage = urlAddress[urlAddress.length-1]
        $(`.sidebar li#${currentPage}`).addClass("active")

        if(urlAddress.some(val => (val == 'reports'))){
            $("#reports_submenu").prop("checked", true)
            $(`.sidebar li#reports`).removeClass("active")
            $(`.sidebar li#reports label#reports_toggler`).addClass("reports")
            $(`div.submenu > a.${currentPage}`).addClass("active")
        }

        $("#logout").click(function (e) {
            $.ajax({
                url: '/admin/logout',
                type: 'POST',
                success: (res) => {
                    if (!res.operation) return showToast("❌ Something went wrong")
                    location.href = "/login"
                },
                error: (err) => {
                    console.log(err)
                    showToast("❌ Something went wrong")
                }
            })
        })

        $(".sidebar-shadow").click(function(e) {
            $("#toggleSideBar").prop("checked", false)
        })
    })
</script>