<ul>
    <li><button id="logout">Logout</button></li>
    <li><a href="/admin/appointments">Online Appointments</a></li>
    <li><a href="/admin/scheduled">Scheduled Patients</a></li>
    <li><a href="/admin/patients">Patients</a></li>
</ul>