<div class="toast px-3 text-dark" style="position: fixed; top: 10px; left: 50%; transform: translateX(-50%); height: max-content; width: max-content; z-index: 99;">
    <div class="toast-body text-center" style="font-size: 18px;">
    </div>
</div>

<script>
    $(document).ready(function (e) {
        $(".toast").toast({ delay: 3000 })
    })
</script>