<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../../templates/header.ejs') %>
    <link rel="stylesheet" href="/css/admin/patients.css" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />
    <script type="application/javascript"
        src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
</head>

<body>
    <h1>List of Patients Page</h1>

    <%- include('../../templates/sidebar.ejs') %>

    <button id="add-patient">Add New Patient</button>

    <div class="container border border-dark border-5 w-50 p-3">
        <table class="table text-center table-striped table-hover">
            <thead>
                <tr>
                    <th>PATIENT NAME</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>PATIENT NAME</th>
                    <th>ACTION</th>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="bg-shadow d-flex d-none justify-content-center align-items-center">
        <div class="patient-form border text-light text-center bg-dark border-dark border-4 w-75 h-75 rounded p-4">
            <div class="form-group w-100 d-flex gap-5">
                <div class="form-group w-50">
                    <label class="form-label" for="firstname">Firstname</label>
                    <input class="form-control " type="text" id="firstname" />
                </div>
                <div class="form-group w-50">
                    <label class="form-label" for="mi">M.I.</label>
                    <input class="form-control" type="text" id="mi" />
                </div>
                <div class="form-group w-50">
                    <label class="form-label" for="lastname">Lastname</label>
                    <input class="form-control" type="text" id="lastname" />
                </div>
            </div>
            <div class="form-group w-100 d-flex gap-5">
                <div class="form-group w-50">
                    <label class="form-label" for="birthday">Birthday</label>
                    <input class="form-control" type="date" id="birthday" />
                </div>
                <div class="form-group w-50">
                    <label class="form-label" for="age">Age</label>
                    <input class="form-control" disabled type="number" id="age" />
                </div>
            </div>
            <div class="form-group w-100">
                <label class="form-label" for="gender">Gender</label>
                <select type="text" class="custom-select d-block w-25 mx-auto" id="gender">
                    <option selected disabled hidden>Choose</option>
                    <option>Male</option>
                    <option>Female</option>
                </select>
            </div>
            <div class="form-group w-100">
                <label class="form-label" for="contact">Contact</label>
                <input class="form-control w-50 mx-auto" type="number" id="contact" />
            </div>
            <div class="form-group w-100">
                <label class="form-label" for="address">Address</label>
                <textarea class="form-control w-75 mx-auto" id="address" rows="3"></textarea>
            </div>
            <div class="form-group w-100 pt-3">
                <button id="submit" class="btn btn-info">ADD AND SCHEDULE</button>
            </div>
            <%- include('../../templates/loading.ejs') %>
        </div>
    </div>

    <%- include('../../templates/toast.ejs') %>
        <script type="application/javascript" src="/js/admin/patients.js"></script>
</body>

</html>