<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../../templates/header.ejs') %>
        <link rel="stylesheet" href="/css/admin/appointments.css" />
        <link rel="stylesheet" href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />
        <script type="application/javascript"
            src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
</head>

<body>
    <h1>Online Appointments Page</h1>
    <%- include('../../templates/sidebar.ejs') %>
    <select>
        <option value="month">This Month</option>
        <option value="week">This Week</option>
        <option value="today">Today</option>
        <option value="none">All</option>
    </select>
    <div class="container border border-dark border-5 rounded p-3">
        <table class="table text-center table-striped table-hover">
            <thead>
                <tr>
                    <th class="text-center">DATE</th>
                    <th class="text-center">PATIENT'S NAME</th>
                    <th class="text-center">ADDRESS</th>
                    <th class="text-center">CONTACT</th>
                    <th class="text-center">STATUS</th>
                    <th class="text-center">ACTION</th>
                </tr>
            </thead>
        </table>
    </div>

    <%- include('../../templates/toast.ejs') %>
    <%- include('../../templates/loading.ejs') %>
        <script type="application/javascript" src="/js/admin/appointments.js"></script>
</body>

</html>