.bg-shadow-dim {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 20 !important;
}

#close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 2rem;
    cursor: pointer;
    z-index: 10;
}

#sched:hover {
    color: white !important;
    background: #00897B !important;
}

#submit-sched:hover {
    background: #00897B;
    color: white;
}

.invalid {
    top: -40px;
    display: none;
}

.valid {
    top: -40px;
    display: none;
}