body {
    height: max-content;
}

.user-info {
    width: max-content;
    position: relative;
    overflow: hidden;
}

h5.text-center {
    display: none;
    position: absolute;
    top: 20px;
}

.img-container {
    height: 200px;
    width: 200px;
    overflow: hidden;
}

.img-container img {
    width: 100%;
    height: 100%;
}