.login-form {
    border-radius: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
}

.button:hover {
    color: #292b2c;
    background: #f7f7f7;
}