.login-form {
    border-radius: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
}

/* .button:hover {
    color:  #f7f7f7;
    background: #292b2c;
} */

body {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/admin-bg.png") no-repeat;
    background-size: 100% 100%;
}