.bg-shadow {
    position: fixed;
    z-index: 5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
}

.bg-shadow-sched {
    position: fixed;
    z-index: 5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
}

.patient-form {
    overflow-y: scroll;
    display: grid;
    gap: 20px;
}

#add-patient:hover {
    color: #292b2c !important;
    background: white !important;
}